[data-page-loader] {
  display: flex;
}

.link-button__clip {
  visibility: visible;
  clip-path: inset(0% 100% 0% 0%);
}

/* Home: Ecosystems */
[data-ecosystem-project-node] {
  transform: translate(-50%, -50%);
  /* Energy */
  transition: width 0.5s cubic-bezier(0.625, 0.05, 0, 1);
}
[data-ecosystem-project-node][data-active] {
  width: 5em;
}
[data-ecosystem-project-node]:not([data-active]):hover {
  width: 3.5em;
}
